body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f9fa;
    text-align: center;
}
h1{
    color: #a50606;    
}
.row{
    display: flex;
    border:2px solid #ccc;
    height: 100px;
}
.box{
    width: 100px;
    height: 60px;
    color:white;
    text-align: center;
    line-height: 60px;
    font-family: "SimSun", "宋体", "NSimSun", "Songti SC", serif;
}
.red{
    background-color: #a50606;
}
.green{
    background-color: aqua;
}
.blue{
    background-color: blue;
}
