* {
    margin: 0;
    padding: 0;
}

body {
    background: #F1F0DF;
    font: 16px/1.6 "Microsoft YaHei", sans-serif;
}

.wrap {
    width: 750px;
    margin: 20px auto;
    padding: 5px 10px;
    background: #ffffff;
    border: 3px solid #660000;
    overflow: hidden;
}

h1 {
    font-size: 32px;
    margin: 20px 0 10px;
}

.sub {
    margin-bottom: 20px;
    font-size: 18px;
}

.nav {
    list-style: none;
    margin-bottom: 30px;
}

.nav li {
    float: left;
    width: 100px;
    margin-left: 10px;
}

.nav li a {
    text-decoration: none;
}

.content {
    clear: both;
    float: left;
    width: 300px;
    font-size: 18px;
}

.content h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

.content p {
    margin-bottom: 15px;
}

.photo {
    float: right;
    width: 320px;
    height: auto;
    margin-top: 40px;
    margin-right: 20px;
}
